ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 200px;
}

li > a,
li > a:visited {
  text-decoration: none;
  color: black;
}
