.SideMenu{
  display: none;

}
.Logo{
  height: 5px;
}
.Accent{
    color: gainsboro;
    margin: 25px auto;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}
.SideMenu-lists{
  margin: 15px, auto;
}
@media(min-width: 900px){
  .SideMenu {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 20%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 0;
    border-right: black solid 1px;
    overflow: scroll;
  }
  .Logo {
  width: 100%;
  height: auto;
}
ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  
}

}

