.SideMenu{
  display: none;
}
.Logo{
  height: 5px;
}
.Accent{
    color: gainsboro;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

@media(min-width: 900px){
  .SideMenu {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 20%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 0;
  }
  .Logo {
  width: 100%;
  height: auto;
}
ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 150px;
}

}

