.FeaturedPreviewPhoto{
    width: 250px;
}
.FeaturedItem{
    display: flex;
    justify-content: center;
}

.FeaturedItem-Preview{
    
    display: flex;
    flex-direction: column;
    
}

@media(min-width: 500px){
    .FeaturedItem-Preview{
            flex-direction: row;
    } 
    .FeaturedPreviewPhoto{
        width: 300px;
        margin: 0 8% 8% 0;
    }
}
