.Main, .Product{
  height: 100%;
  padding: 20px 0;

}

.Title{
    height: 50px;
    margin-bottom: 2%;
}


@media(min-width:900px){
  .Main,.Product{
    margin-left: 20%;
    border-left: black solid 1px

  }
}