.App {
  text-align: center;

}
*{
  font-family: 'Playfair Display', serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.MainLayout{
  display: block;
}
.App-header {
  background-color:#F3EEE8;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0B1D6F;
}

.App-link {
  color: #61dafb;
}
.Sales-Banner{
  background-color: #0B1D6F;
  color:white;
  margin: 0;
  padding: 15px
}

.Outline{
  display: flex;
  flex-direction: row;
  width: 100%;
}