
.ProductPreview{
    max-width: 85%;
    height: auto;

}


.InventoryPreview{
    display: flex;
    flex-direction: row;
    align-content: center;    
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
} 

@media (min-width: 900px){
.ProductPreview:hover{
    transform: scale(1.1)
    }
}